<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="{{privacy_policy_url}}" data-i18n="privacy_policy">隐私政策</a>
            <a href="#" data-i18n="about_us">关于我们</a>
            <a href="#" data-i18n="contact_us">联系我们</a>
            <a href="https://startupfa.me/s/screen-size-checker?utm_source=screensizechecker.com" target="_blank"><img src="https://startupfa.me/badges/featured-badge-small.webp" alt="Featured on Startup Fame" width="224" height="36" /></a>
            <a href="https://startupfa.me/s/screen-size-checker?utm_source=screensizechecker.com" target="_blank"><img src="https://startupfa.me/badges/featured-badge.webp" alt="Featured on Startup Fame" width="171" height="54" /></a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2025 <span data-i18n="site_name">Screen Size Checker</span>. <span data-i18n="all_rights_reserved">All rights reserved.</span></p>
        </div>
    </div>
</footer> 